plyfile
OmegaConf
matplotlib
einops
gradio
diffusers
transformers
rembg
segment_anything
jaxtyping
imageio
imageio-ffmpeg
# pip3 install -U xformers==0.0.28 --index-url https://download.pytorch.org/whl/cu118